/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav {
    color: white; 
}

.banner {
    background-image: url(../img/background10.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-position-x: 10%;
    background-size: cover;

}

p {
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

h3 {
    font-size: 120px;
}

.caption {
    font-weight: 900;
    font-size: 60px !important;
}

/* .parallax {
    background-position: bottom
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  } */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.card {
  margin: 30px 10px;
  padding:  5px;
}
.material-icons {
  font-size: 75px;
}

footer.page-footer {
  margin: 0;
}
