/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav {
    color: white; 
}

.banner {
    background-image: url(../img/background10.jpg);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-size: cover;
}

.call-to-action {
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: center;
}

.about {
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

h3 {
    font-size: 20px;
}

.caption {
    font-weight: 900;
    font-size: 60px !important;
}

.user-image {
    width: 100%;
}

.card-panel {
    height: auto;
}

.date {
    font-size: 18px;
}

.description {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

.btn-flat {
    margin: 3px;
}

.material-icons {
  font-size: 75px;
}
    
.sport-header {
    padding-left: 40px !important;
}

.mini_map {
    height: 400px;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #0d47a1;
    border-radius: 5px;
    width: 100%;
}

.maps {
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #0d47a1;
    border-radius: 5px;
    width: 100%;
}

form {
    width: 80%;
    padding: 50px !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #0d47a1;
}

.sport-form {
    width: 75%;
}

footer.page-footer {
  margin: 0;
}

#index-banner .section {
    top: 10%;
  }
}

/* media queries */ 


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .banner {
      height: 300px;
  }
}
