{% extends 'base.html' %} {% block content %}

<h3>Add an Event Type</h3>

<div class="row">
	<form action="{{ url_for('insert_event_type')}} "method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">category</i>
				<input id="event_type" name="event_type" type="text" class="validate">
				<label for="event_type">Event Type</label>
			</div>
		</div>
        <div class="row">
        <a href="{{url_for('new_event_type')}}" class="btn waves-effect waves-light">
                <i class="material-icons right">category</i>Add Event Type</a>
        </div>
	</form>
</div>

{% endblock %}