<!DOCTYPE html>
<html lang="en">

<head>
	<!-- CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" media="screen,projection">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

	<title>Tri-Events</title>
</head>

<body>
    <header>
        <nav class="nav-wrapper blue darken-4">
            <div class="container">
                <a href="{{url_for('index')}}" class="brand-logo">Tri-Events</a>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right blue-text hide-on-med-and-down">
                    <li><a href="{{url_for('find_events')}}"><i class="material-icons left valign-wrapper">emoji_events</i>FIND AN EVENT</a></li>
                    <li><a href="{{url_for('add_event')}}"><i class="material-icons left">share</i>SHARE AN EVENT</a></li>
				</ul>
                <ul class="sidenav" id="mobile-demo">
					<li><a href="{{url_for('find_events')}}"><i class="material-icons left">emoji_events</i>FIND AN EVENT</a></li>
                    <li><a href="{{url_for('add_event')}}"><i class="material-icons left">share</i>SHARE AN EVENT</a></li>
				</ul>
            </div>
        </nav>
    </header>


    <div id="index-banner">
		{% block content %}{% endblock %}
	</div>

	<!--  General Scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="static/js/materialize.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- JQuery for Materialize -->
	<script type="text/javascript">
		$(document).ready(function() {

            $('.collapsible').collapsible();
             $('input#input_text, textarea#textarea2').characterCounter();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.parallax').parallax();
            $('.slider').slider();
            $(".datepicker").datepicker({
                format: "dd mmm yyyy",
                yearRange: 3,
                showClearBtn: true,
                i18n: {
                    clear: "Clear",
                    done: "Select",
                    cancel: "Cancel"
                }
            });
        });       
	</script>

    {% block js %}
	{% endblock %}

</body>

</html>