{% extends 'base.html' %} {% block content %}

<div class="container">
	
    <h2>Edit an Event</h2>

	<div class="row">
		<form action="" method="POST" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">category</i>
					<input placeholder="sport_name" id="sport_name" name="sport_name" type="text" class="validate" value="{{ sports.sport_name}}">
					<label for="sport_name">Sport</label>
				</div>
			</div>
			<div class="row">
				<button class="waves-effect waves-light btn btn_small blue" type="submit" name="action">Save Changes
                   <i class="material-icons right">check</i>
                </button>
                <a href="{{ url_for('find_sports')}}"
					class="waves-effect waves-light btn btn_small red">Cancel<i class="material-icons right">close</i></a>
			</div>
		</form>
	</div>
</div>

{% endblock %}