{% extends 'base.html' %}
{% block content %}


<div class="container">
	<div>
		<h2>Find Your Event</h2>
	</div>
	<div class="row">
		<div id="mapid" class="maps"></div>
	</div>
</div>

<!-- Events -->
<div class="container">
	<div class="row">
		{% for event in events %}
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title activator blue-text text-darken-4"><strong>{{event.event_name}}</strong><br><p class="date">{{event.event_date}}</p></span>
					
                    <p>{{event.sport_name}}  |  {{event.cost}}</p>
                    <p>{{event.location}}</p>
                    <span class="description truncate">{{event.description}}</span>
                    
				</div>
				<div class="card-action blue darken-4 white-text">
					<a href="{{url_for('view_event', event_id=event._id)}}"
						class="waves-effect waves-light btn btn_small blue">More Info</a>
					<a href="{{url_for('edit_event', event_id=event._id)}}"
						class="waves-effect waves-light btn btn_small blue">Edit</a>
					<a href="{{url_for('delete_event', event_id=event._id)}}"
						class="waves-effect waves-light btn btn_small red">Del</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


{% block js %}

<!-- Leaflets Map required JS -->
<script>
	var mymap = L.map('mapid').setView([52.837498, -1.457503], 5);
    var marker = L.marker([51.5, -0.09]).addTo(mymap);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors,   <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://   www.mapbox.com/">Mapbox</a>',
        
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoid29vZGZvcmR0aW0iLCJhIjoiY2thZTk0cTlnMDJudDJ4cG5zYTBpemQ5YiJ9.QU5iShY0hSO7RC7ve1hF0w'
    }).addTo(mymap);

        {% for event in events %}
            var marker = L.marker([{{event.event_coordinates}}]).addTo(mymap).bindPopup('<a href="{{ url_for('view_event', event_id=event._id) }}">{{event.event_name}}</a>');

            if ( {{event.event_coordinates}} ) {
                marker;
            }
        {% endfor %}

</script>

{% endblock %}