{% extends 'base.html' %}
    {% block content %}

    <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
       <!-- Tempating language to loop through events in our events collection-->
        {% for event in events %}
            <li>
                <div class="collapsible-header">
                    <div class="col s3">
                        <i class="material-icons">expand_more</i>
                        <a href="{{url_for('edit_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                        <a href="{{url_for('delete_event', event_id=event._id)}}" class="waves-effect waves-light btn btn_small red">Del</a>
                    </div>
                    <div class="event_header col s9">
                        <strong>{{event.event_name}}  -  </strong>{{event.sports}}  -  {{event.cost}}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endblock %}