{% extends 'base.html' %}
{% block content %}

<div class="container">

	<div class="row sport-form">
		<h2>Sports Categories</h2>
		<ul class="collapsible popout center-align" data-collapsible="accordion blue-lighten-4">
			{% for sports in sports %}
			<li>
				<div class="collapsible-header blue lighten-4">
					<a href="{{url_for('edit_sport', sports_id=sports._id)}}"
						class="waves-effect waves-light btn btn_small blue btn-flat white-text">Edit</a>
                    <a href="{{url_for('delete_sport', sports_id=sports._id)}}"
						class="waves-effect waves-light btn btn_small red btn-flat white-text">Del</a>
					<div class="sport_header valign-wrapper">
						<strong>{{sports.sport_name}}</strong>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row center-align">
		<a href="{{url_for('add_sport')}} " class="waves-effect waves-light btn btn_small blue">
			<i class="material-icons right">check</i>Add Sport</a>
        <a href="{{ url_for('find_events')}}"
					class="waves-effect waves-light btn btn_small red">Cancel<i class="material-icons right">close</i></a>
	</div>
</div>
{% endblock %}