{% extends 'base.html' %}
    {% block content %}

<div class="row">
    <h3>Sports Categories</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for sports in sports %} <!-- why 'sports' here- where does it point/refer to? -->
        <li>    
            <div class="collapsible-header">
                <a href="{{url_for('delete_sport', sports_id=sports._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
                <a href="{{url_for('edit_sport', sports_id=sports._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

                <div class="event_header">
                    <strong>{{sports.sport_name}}</strong> 
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="row">
    <a href="{{url_for('add_sport')}} "class="waves-effect waves-light btn">
        <i class="material-icons right">category</i>Add Sport</a>
</div>
{% endblock %}

