{% extends 'base.html' %} {% block content %}

<div class="container">
	<div class="row">
		<div class="col s12">

			<!-- Using the JS replace method:  https://www.w3schools.com/jsref/jsref_replace.asp -->
			<h2 class="title-text">{{event.event_name|replace('_', ' ')}}</h2>

			<!-- Events description (full width card from Materialize) -->
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>


			<div class="card horizontal">
				<div class="card-stacked">
					<div class="card-content">
						<h3><strong>Event Description</strong></h3>
						<p>{{event.description}}</p>
					</div>
					<div class="card-action blue-text text-darken-2">
						<a href="{{event.link}}">Find out more</a>
					</div>
				</div>
				<div class="card-image valign-wrapper">
					{% if event.img_url %}
					<img class="user-image" src = "{{event.img_url}}" alt="static/img/baseline_camera_alt_black_18dp.png">
                </div>
			</div>

				
            <div class="row">
                <!-- Events information  -->
                <div class="col s12 m6">
                    <div class="card-panel">

                        <h3><strong>Event Information</strong></h3>

                        <p><strong>Event Date:</strong> {{event.event_date}}</p>
                        <p><strong>Sport:</strong> {{event.sport_name}}</p>
                        <p><strong>Distance:</strong> {{event.event_distance}}</p>
                        <p><strong>Location:</strong> {{event.location}}</p>
                        <p><strong>Coordinates:</strong> {{event.event_coordinates}}</p>
                        <p><strong>Cost:</strong> {{event.cost}}</p>

                    </div>
                </div>

                <!-- Events contacts  -->
                <div class="col s12 m6">
                    <div class="card-panel">

                        <h3><strong>Event Contacts</strong></h3>
                        <p class="truncate"><strong>Email:</strong> {{event.event_contacts}}</p>
                        <p class="truncate"><strong>Web:</strong> {{event.link}}</p>

                    </div>
                </div>
            </div>

			<!-- Events map -->
			<div class="col s12">
				<div id="mini-map" class="mini_map"></div>
			</div>

			<!-- Buttons -->
			<div class="row">
				<div class="col s12 center-align">
					<div>
						<a href="{{ url_for('edit_event', event_id=event._id) }}"
							class="waves-effect waves-light btn btn_small blue">Edit</a>
						<a href="{{ url_for('find_events') }}"
							class="waves-effect waves-light btn btn_small blue">Back</a>
						<a href="{{ url_for('delete_event', event_id=event._id) }}"
							class="waves-effect waves-light btn btn_small red">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	{% endblock %}

	{% block js %}

	<script>
		var mymap = L.map('mini-map').setView([{{event.event_coordinates}}], 11);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors,   <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://   www.mapbox.com/">Mapbox</a>',
        
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoid29vZGZvcmR0aW0iLCJhIjoiY2thZTk0cTlnMDJudDJ4cG5zYTBpemQ5YiJ9.QU5iShY0hSO7RC7ve1hF0w'
    }).addTo(mymap);

    var event_marker = L.marker([{{event.event_coordinates}}]).addTo(mymap);

	</script>


	{% endblock %}